<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="get" action="/hola2">
        <label for="salutacio">Salutacio</label>
        <input type="text" name="salutacio"><br>
    
        <label for="quant">Quant</label>
        <input type="number" name="quant"><br>

        <input type="submit" value="Enviar">
        <br/>
        <label for="color">Color:</label>
            <select name="color" required>
                <option value="Red">Vermell</option>
                <option value="Blue">Blau</option>
                <option value="Green">Verd</option>
                <option value="Yellow">Groc</option>
            </select>
        <br/>
        <label for="foto">Foto:</label>
        <input type="checkbox" name="foto" value="true">

    </form>

</body>

</html>